    .button {
        border: none;
    }

    .button_icon {
    background-color: var(--bg-color);
    }

    .button_around {
    background-color: var(--primary-color);
    border-radius: 1.5rem; /*Как правило, если речь идет НЕ о шрифте,а о геометрии (отступы, радиус и тп) используют px или %. rem имеет немного другое предназначение + пиксели легче поспринимать + в макетах почти всегда указываются пиксели, надо бы исправить */
    padding: 0 1.25rem;
    }

    .button_gray {
    color: var(--text-color-secondary);
    border-radius: 0.5rem;
    }

    .button-send-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    }
