.sticky-container {
    position: sticky;
}

.header {
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;
    border: 1px solid var(--border-color);
}

.main-navigator {
    margin: 0 2rem;
    justify-content: space-between;
    flex-grow: 1;
}

.main-navigator__links-container {
    justify-content: space-between;
}

.main-navigator__item {
    margin: 0 0.5rem;
}

.main-navigator__tools {
    justify-content: space-between;
}

.links-container__item{
    margin: 0 0.5rem;
}
