@import url('./normalize.css');

$text : 24px;
$heading : 48px;
$text-color : #EDF5E1;
$primary-color : #5CDB95;
$error-color : rgb(169, 41, 41);
$success-color : rgb(6, 185, 63);
$ligth-primary-color : #99f5c2;
$secondary-color : #05386B;
$secondary-color-ligth : #0f5aa4;
$border-color : #379683;


.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content : center;
    align-items : center;
    background: linear-gradient(to bottom right ,$secondary-color, $ligth-primary-color);

    &_true-answer {
        background: linear-gradient(to bottom right ,$secondary-color, $success-color);
    }
    &_false-answer {
        background: linear-gradient(to bottom right ,$secondary-color, $error-color);
    }

    &__app {

        display : grid;
        grid-template-rows: auto 1fr auto;

        width: 90vh;
        min-height: 80vh;
        padding: 8px;
        border: 3px solid $border-color;
        border-radius: 12px;
        background-color: $primary-color;
    }
}

.app {
    &__title {
        font-size: $heading;
        color : $text-color;
        letter-spacing: 6px;
        text-align: center;
    }

    &__button {
        display: none;
        background-color: $secondary-color;
        color:$text-color;
        min-width: 200px;
        line-height: 32px;
        font-size: $text;
        margin: 0 auto;
        margin-bottom : 12px;

        &:hover {
            background-color: $secondary-color-ligth;
        }
    }
}

.question {

    &__text {
        font-size: $text;
        color : $secondary-color;
    }

    &__answers {
        font-size : $text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom : 24px;
    }
}

.button {
    padding: 5px;
    border-radius: 5px;
    border: none;

    &__answer {
        margin: 6px;
        min-width: 90%;
        line-height: 32px;

        &:hover {
            background-color: $ligth-primary-color;
            color: white;
        }
        &_true {
            background-color: $success-color;

            &:hover {
                background-color: $success-color;
                color :white
            }
        }
        &_false {
            background-color: $error-color;

            &:hover {
                background-color: $error-color;
                color :white
            }
        }
    }
}
