.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
  }

  .header__links-contanier {
    padding: 0.875rem 1rem 0.875rem 1rem;
    margin: 0 3rem 0 0;
    gap: 2rem;
  }
  .search-bar__icon {
    align-self: center;
    position: relative;
    right: 5rem;
    top: 0px;
    width: 24px;
    height: 24px;
  }
  
  .search-bar__input {
    height: 3rem;
    padding: 1rem;
    margin: 0 2rem;
    border: 1px solid var(--border-color-search);
    border-radius: 100px;
  }